*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    height: 100px;
    position: sticky;
    top: 0;
    background-color: #EEE4DB;
}

#lista a{
    color: #198754;
    text-decoration: none;
}

#lista a:hover{
   color: #0fe280; 
}

#logo{
    width: 180px;
}

body{
    min-height:calc(100dvh - 100px);
    background-color: aquamarine;
    background-image: url(../imagens/background-mobile.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

img{
    width: 100%;


    span{
        color: green;
    }
 }

 #nos{
    background-image: url(../imagens/background.png);
    min-height: calc(100dvh - 100px);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50px;
 }

 #sobre_texto{
    background-color: #198754;
    color: white;
    padding: 10px;
    border-radius: 10px;
 }

 #divis_imagem{
    background-image: url(../imagens/bg-about.png);
    background-color: #198754;
    border-radius:10px;
    
 }

 footer{
    background-color: #198754;
    padding: 10px;
    color: white;
    text-align: center;
 }

 @media screen and (min-width:992px) {

    body{
    min-height:100dvh;
    background-color: aquamarine;
    background-image: url(../imagens/background-desktop.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

    #alta{
        height: 100vh;

    }

    #novidade{
        margin-top: 300px;
        height: 65vh;
        width: 75vw;
    }

    #nos{
        width: 85vw;
    }

    
    
 }